---
http_interactions:
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20*%20from%20'contractors'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"c7fdb9179e1e90eb14ce6ea7d0fd2f6d"'
    body:
      encoding: UTF-8
      string: '[{"name":"Foo Company","abn":"12345678901","acn":"123456789"}]'
  recorded_at: Sat, 10 Oct 2015 05:38:30 GMT
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20contracts%20from%20'contractors'%20where%20abn='12345678901'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"75bd8701cc60ed3f88282bbb16717a8a"'
    body:
      encoding: UTF-8
      string: '[{"contracts":"123"}]'
  recorded_at: Sat, 10 Oct 2015 09:14:15 GMT
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20*%20from%20'contracts'%20where%20contract_award_notice_id='123'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"2ab6663f62aee28e85dcb8468bacef60"'
    body:
      encoding: UTF-8
      string: '[{"date_scraped":"2015-07-28", "contract_award_notice_id":"123", "publish_date":"2014-09-24",
        "particulars_of_the_goods_or_services_to_be_provided_under_this_contract":"WDA
        - Scheduling \u0026 Program Support Stages 1 - 3RMS Contract", "contract_start_date":"2014-06-04",
        "contract_end_date":"2015-07-01", "contractor_name":"Aquenta Consulting Pty
        Ltd", "acn":"007406840", "abn":"12345678901", "street_address":"Level 10 67
        Albert Avenue", "town_or_city":"CHATSWOOD", "state_or_territory":"NSW", "postcode":"2067",
        "country":"AUSTRALIA", "other_private_sector_entities_involved_in_with_an_interest_in_or_benefiting_from_this_contract":"Nil",
        "contract_value_est":505485.2, "any_provisions_for_payment_to_the_contractor_for_operational_or_maintenance_services":"N/A",
        "method_of_tendering":"Open", "description_of_any_provision_under_which_the_amount_payable_to_the_contractor_may_be_varied":"N/A",
        "description_of_any_provisions_under_which_the_contract_may_be_renegotiated":"N/A",
        "tender_evaluation_criteria":"1.  Value for money.\n2. Demonstrated appropriate
        experience, expertise, skills, qualifications and availability of the nominated
        Scheduling Consultant.\n3. Demonstration of clear understanding of the service
        required.\n4. Demonstration of appropriate experience,expertise and skills
        as an organisation.", "contract_contains_agency_piggyback_clause":"No", "name_of_sub_contractors":null,
        "applicable_industrial_instruments":null, "location_of_work":null, "agency_contact":"awardcontractinformation_rau@rta.nsw.gov.au",
        "agency_state_or_territory":"NSW", "agency_country":"AUSTRALIA", "email_address":"awardcontractinformation_rau@rta.nsw.gov.au",
        "amended_contract_value_est":null, "agency_street_address":null, "agency_town_or_city":null,
        "agency_postcode":null, "phone_number":null, "original_contract_duration":null,
        "amended_contract_duration":null}]'
  recorded_at: Sat, 10 Oct 2015 09:14:17 GMT
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20contracts%20from%20'contractors'%20where%20abn='123'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Sat, 10 Oct 2015 11:16:14 GMT
recorded_with: VCR 2.5.0
