---
http_interactions:
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20*%20from%20'contractors'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"c7fdb9179e1e90eb14ce6ea7d0fd2f6d"'
    body:
      encoding: UTF-8
      string: '[{"name":"Foo Company","abn":"12345678901","acn":"123456789"}]'
  recorded_at: Sat, 10 Oct 2015 05:38:30 GMT
recorded_with: VCR 2.5.0
