---
http_interactions:
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20contracts%20from%20'contractors'%20where%20abn='12345678901'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"75bd8701cc60ed3f88282bbb16717a8a"'
    body:
      encoding: UTF-8
      string: '[{"contracts":"123"}]'
  recorded_at: Sat, 10 Oct 2015 09:14:15 GMT
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20*%20from%20'contracts'%20where%20contract_award_notice_id='123'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"2ab6663f62aee28e85dcb8468bacef60"'
    body:
      encoding: UTF-8
      string: '[{"date_scraped":"2015-07-28", "contract_award_notice_id":"123", "publish_date":"2014-09-24",
        "particulars_of_the_goods_or_services_to_be_provided_under_this_contract":"WDA
        - Scheduling \u0026 Program Support Stages 1 - 3RMS Contract", "contract_start_date":"2014-06-04",
        "contract_end_date":"2015-07-01", "contractor_name":"Aquenta Consulting Pty
        Ltd", "acn":"007406840", "abn":"12345678901", "street_address":"Level 10 67
        Albert Avenue", "town_or_city":"CHATSWOOD", "state_or_territory":"NSW", "postcode":"2067",
        "country":"AUSTRALIA", "other_private_sector_entities_involved_in_with_an_interest_in_or_benefiting_from_this_contract":"Nil",
        "contract_value_est":505485.2, "any_provisions_for_payment_to_the_contractor_for_operational_or_maintenance_services":"N/A",
        "method_of_tendering":"Open", "description_of_any_provision_under_which_the_amount_payable_to_the_contractor_may_be_varied":"N/A",
        "description_of_any_provisions_under_which_the_contract_may_be_renegotiated":"N/A",
        "tender_evaluation_criteria":"1.  Value for money.\n2. Demonstrated appropriate
        experience, expertise, skills, qualifications and availability of the nominated
        Scheduling Consultant.\n3. Demonstration of clear understanding of the service
        required.\n4. Demonstration of appropriate experience,expertise and skills
        as an organisation.", "contract_contains_agency_piggyback_clause":"No", "name_of_sub_contractors":null,
        "applicable_industrial_instruments":null, "location_of_work":null, "agency_contact":"awardcontractinformation_rau@rta.nsw.gov.au",
        "agency_state_or_territory":"NSW", "agency_country":"AUSTRALIA", "email_address":"awardcontractinformation_rau@rta.nsw.gov.au",
        "amended_contract_value_est":null, "agency_street_address":null, "agency_town_or_city":null,
        "agency_postcode":null, "phone_number":null, "original_contract_duration":null,
        "amended_contract_duration":null}]'
  recorded_at: Sat, 10 Oct 2015 09:14:17 GMT
[...]
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20*%20from%20'contracts'%20where%20contract_award_notice_id='RMS.14.7205.2036'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"e542125fa61569399eb87b588ae7aca5"'
    body:
      encoding: UTF-8
      string: '[{"last_updated":"2015-10-21 10:12","url":"https://tenders.nsw.gov.au/rms/?event=public.cn.view\u0026CNUUID=8786974B-E6F9-A159-B6A125B99953BF7E","date_scraped":"2015-11-05","contract_award_notice_id":"RMS.14.7205.2036","agency":"Roads
        and Maritime Services","category":"83000000 - Public Utilities and Public
        Sector Related Services","publish_date":"2015-10-21","particulars_of_the_goods_or_services_to_be_provided_under_this_contract":"WDA
        - Project Team - Finance Manager","contract_start_date":"2014-07-01","contract_end_date":"2014-12-30","contractor_name":"PEARL,
        JOSHUA","acn":null,"abn":"93690339855","street_address":"2/15 sURFSIDE aVE","town_or_city":"CLOVELLY","state_or_territory":"NSW","postcode":"2031","country":"AUSTRALIA","other_[...]
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20*%20from%20'contractors'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"cab22ea4df8a16a07779739ac77dda40"'
    body:
      encoding: UTF-8
      string: '[{"name":"Aquenta Consulting Pty Ltd","abn":"15007406840","acn":"007406840","street_address":"Level
        10 67 Albert Avenue","city":"CHATSWOOD","state":"NSW","postcode":"2067","country":"AUSTRALIA","contracts":"RMS.14.7510.1813"},{"name":"Ernst
        \u0026 Young","abn":"75288172749","acn":"288172749","street_address":"321
        Kent Street","city":"SYDNEY","state":"NSW","postcode":"2000","country":"AUSTRALIA","contracts":"RMS.14.7540.1755"},{"name":"SMEC
        Australia Pty Limited","abn":"47065475149","acn":"065475149","street_address":"Level
        5 20 Berry St","city":"NORTH SYDNEY","state":"NSW","postcode":"2060","country":"AUSTRAL[...]
[...]
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20contracts%20from%20%27contractors%27%20where%20abn=%279876%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d751713988987e9331980363e24189ce"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 13 Feb 2018 04:36:39 GMT
[...]
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20*%20from%20%27contracts%27%20where%20contract_award_notice_id=%27RMS.14.7205.2036%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a4de6c467b49b6b44a963bb5b6c3[...]
- request:
    method: get
    uri: https://api.morph.io/equivalentideas/westconnex_contracts/data.json?key=<MORPH_API_KEY>&query=select%20*%20from%20%27contractors%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"12a5e8907a3073447690e459819ca386"
    body:
      encoding: UTF-8
      string: '[{"[...]
