body {
  margin: 0 auto;
  padding: .5em 5%;
  max-width: 45em;
  font-family: "jaf-facitweb", verdana, sans-serif;
  font-size: 1.0625em;
  line-height: 1.5;
  color: #252C2D;
  background: #FDFCFC;

  @media (min-width: 35em) {
    padding-top: 2em;
  }

  @media (min-width: 55em) {
    padding-top: 3em;
    font-size: 1.1875em;
  }
}

h1 {
  margin-top: 0;
  line-height: 1.2;
}

h1,
h2,
p,
li {
  margin: 0 0 1em;
  margin: 0 0 1rem;
}

ul {
  padding: 0;
  list-style: none;
}

.lede {
  margin-bottom: 2.5em;

  @media (min-width: 55em) {
    margin-bottom: 3em;
  }
}

.contractor {
  @media (min-width: 40em) {
    margin-bottom: 2.5em;
  }

  header {
    margin: 0 0 1em;
    margin: 0 0 1rem;
    overflow: auto; // clearfix

    h2 {
      margin: 0;
    }

    > p {
      clear: both;
      margin: 0;
    }
  }
}

.contractor-name {
  font-size: 1em;
  width: 70%;
  float: left;

  @media (min-width: 50em) {
    font-size: 1.105263158em;
  }
}

.contractor-value {
  font-size: .882em;
  float: right;
}

.contractor-website {
  font-size: .882em;
}

.contract-counter {
  font-size: .882em;
  font-weight: normal;
  float: none;
  clear: both;
}

.contracts {
  font-size: .882em;
  max-width: 35em;

  @media (min-width: 35em) {
    margin-left: 4em;
  }
}

.contract {
}

.contract-description {
  margin-bottom: 0;
}

.contract-data-list {
  margin: 0;
  clear: both;
  font-size: .75em;

  @media (min-width: 35em) {
    font-size: .883em;
  }

  dt,
  dd {
    display: inline-block;
    margin-left: 0;
  }

  dt {
    font-size: .883em;
    text-transform: uppercase;

    dd + & {
      margin-left: .25em;
    }
  }

  dd {
    font-weight: bold;
  }
}
